{% extends 'navbar.html' %}

{% block headertext %}Share groups{% endblock headertext %}
{% block content %}
    <a href="{% url 'shares:group-create' %}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Create group</a>
    {% if object_list %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Database name</th>
                <th>Shares</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for group in object_list %}
            <tr>
                <td>{{ group }}</td>
                <td>{{ group.name }}</td>
                <td>
                    {% for share in group.shares.all %}
                        {% if forloop.counter <= 3 %}
                            <p>{{ share }}</p>
                        {% elif forloop.counter == 4 and group.shares.all|length > 4 %}
                            <p><a href="{% url 'shares:group-detail' group.pk %}">Show all</a></p>
                        {% endif %}
                    {% endfor %}
                </td>
                <td><a href="{% url 'shares:group-update' group.pk %}" class="btn btn-block btn-info">Edit</a></td>
                <td><a href="{% url 'shares:group-delete' group.pk %}" class="btn btn-block btn-danger">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <ul><li>No Groups yet.</li></ul>
    {% endif %}
{% endblock %}
