{% extends 'navbar.html' %}

{% block headertext %}Shares{% endblock headertext %}
{% block content %}
    {% if object_list %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Groups</th>
            </tr>
        </thead>
        <tbody>
        {% for share in object_list %}
            <tr>
                <td>{{ share.name }}</td>
                <td>duuupa</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <ul><li>No Shares yet.</li></ul>
    {% endif %}
{% endblock %}
