{% extends 'navbar.html' %}

{% block headertext %}CPU Statistics{% endblock headertext %}
{% block content %}
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{ name }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Cores</dt>
        <dd>{{ count }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Logical cores</dt>
        <dd>{{ logical_count }}</dd>
    </dl>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">CPU load timeline</h3>
        </div>
        <div class="panel-body">

            <div id="load_chart_div" style="height: 500px;"></div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">CPU temperature timeline</h3>
        </div>
        <div class="panel-body">
            <div id="temp_chart_div" style="height: 500px;"></div>
        </div>
    </div>

{% endblock content %}

{% block extra_scripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawLoadChart);
        function drawLoadChart() {
            $.getJSON("{% url 'stats:api-cpu' %}", function(data) {
                var loadData = google.visualization.arrayToDataTable(data.load_stats);
                var loadOptions = {
                vAxis: {
                    minValue: 0,
                    maxValue: 100,
                    format:'# \'%\''
                }
            };
            var loadChart = new google.visualization.AreaChart(document.getElementById('load_chart_div'));
            loadChart.draw(loadData, loadOptions);

            var tempData = google.visualization.arrayToDataTable(data.temp_stats);
            var tempOptions = {
            vAxis: {
                minValue: 0,
                maxValue: 100,
                format:'# °C'
            }
        };
        var tempChart = new google.visualization.AreaChart(document.getElementById('temp_chart_div'));
        tempChart.draw(tempData, tempOptions);
        });
    }
    setInterval(drawLoadChart, {{ stats_interval }});
    </script>
{% endblock extra_scripts %}
