{% extends 'navbar.html' %}

{% block headertext %}General statistics{% endblock headertext %}
{% block content %}
    <dl class="dl-horizontal">
        <dt>Operating system</dt>
        <dd>{{ os }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Architecture</dt>
        <dd>{{ architecture }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Hostname</dt>
        <dd>{{ hostname }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>CPU</dt>
        <dd>{{ cpu }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Boot time</dt>
        <dd>{{ boot_time }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Up time</dt>
        <dd>{{ up_time }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Python version</dt>
        <dd>{{ python_version }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>RAM</dt>
        <dd>{{ total_ram_mem }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>SWAP</dt>
        <dd>{{ total_swap_mem }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Disk memory</dt>
        <dd>{{ total_disk_mem }}</dd>
    </dl>
{% endblock content %}
