{% extends 'navbar.html' %}

{% block headertext %}Network statistics{% endblock headertext %}
{% block content %}
    <dl class="dl-horizontal">
        <dt>Hostname</dt>
        <dd>{{ hostname }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>MAC address</dt>
        <dd>{{ mac_address }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>IP address</dt>
        <dd>{{ ip_address }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Data sent</dt>
        <dd>{{ bytes_sent|filesizeformat }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Data received</dt>
        <dd>{{ bytes_received|filesizeformat }}</dd>
    </dl>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Network traffic timeline</h3>
        </div>
        <div class="panel-body">
            <div id="chart_div" style="height: 500px;"></div>
        </div>
    </div>
{% endblock content %}

{% block extra_scripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawLoadChart);
      function drawLoadChart() {
        $.getJSON("{% url 'stats:api-network' %}", function(data) {
          var data = google.visualization.arrayToDataTable(data.traffic_stats);
          var options = {
            vAxis: {
              minValue: 0,
              format:'#.## Mbps'
            }
          };
          var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
          chart.draw(data, options);
        });
      }
      setInterval(drawLoadChart, {{ stats_interval }});
    </script>
{% endblock extra_scripts %}
